h1, h2, h3, p, .about{
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3{
  font-weight: bold;
}


h1{
  font-size: 70px;
  color: white;
}

.TopNav p{
  color: white;
  font-size: 18px;
}

.topimage{
  background-image: url(../images/the-flatiron-building.png);
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

.NewYork {
  font-size: 23px;
  color: white;
    background-image: url(../images/the-flatiron-building.png);
}

.footer p{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

.btm_nav {
  font-size: 18px;
  color: white;
}

.tpnav{
  color: white;
}
